.card-componente{
    border: 2px solid #ffa500 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    width: 178px !important;
}
.btnCalificar{
    background-color: #ffa500;
    color: #000;
    margin: 0 auto;
    width: auto !important;  

    &&:hover{
        background-color: #fff;
        border: 1px solid #ffa500;
    }
}

.btnInscribir{
    background: coral;
    color: #000;

    &&:hover{
        background-color: #fff;
        border: 1px solid coral;
    }
}