.contenedor-curso-mas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: start;
    max-height: 80vh;
     overflow-y: auto;
      padding-right: 1rem;
  }
  .contenido-curso,
  .comentarios-curso {
    width: 100%;
  }
  .comentarios-lista{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      overflow-y: auto;
      max-height: 60vh;
  }