.footer-contenedor {
  background-color: #FFFBEA;
  padding: 50px 40px;
  font-family: 'Segoe UI', sans-serif;
  border-top: 3px solid #FFDD57;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 15px 15px 0 0;
}
.lista-enlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
  align-items: center;
}
.foder-lista {
  display: flex;
  align-items: center;
}
.enlace-con-icono {
  display: flex;
  align-items: center;
  gap: 8px;
}
.foder-lista img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.foder-lista li {
  font-weight: 500;
}
.foder-lista.derechos {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}









