*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-contenedor {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  #ffa500;
    color: rgb(8, 8, 8);
    padding: 1rem;
    text-align: center;
  }
  .foder-lista{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
  }
  .lista-enlaces{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }