.home-contenedor {
    padding: 40px 20px;
    background-color: #ffffff;
    min-height: 80vh;
    font-family: 'Segoe UI', sans-serif;
  }
  
  /* Título de secciones: Noticias, Cursos, Juegos */
  .noticias {
    font-size: 2rem;
    color: #003366;
    text-align: center;
    margin: 40px 0 20px;
    background-color: #fffbea;
    padding: 10px 20px;
    border-radius: 12px;
    border-left: 6px solid #ffdd57;
    border-right: 6px solid #ffdd57;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
  
  /* Contenedor de las listas */
  .listaNoticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
  }
  
.footer-contenedorH{
    position: absolute;
    top: 390vh;
    width: 100%;
    right: 0vw;
    
}